{% extends 'basic.html' %}
{% block content %}
<h2>Наш сайт предлагает Вам ознакомиться с рейтингом обслуживающих компаний в сфере ЖКХ</h2>
Оценка качества работы подрядных организаций строится на следующих критериях:
Время выполнения работ (Кол-во обращений / проблем по результатам работ на протяжении какого-то времени)
Качество
Кол-во обращений / проблем в процессе работ
Кол-во обращений / проблем по результатам работ на протяжении какого-то времени
Скорость отклика и решения жалоб.
Опыт работ (кол-во выполненных работ, участие в тендерах)
{% endblock %}