{% extends 'basic.html' %}
{% block content %}
<div style = "padding: 3%">
<h2>Наш сайт предлагает Вам ознакомиться с рейтингом обслуживающих компаний в сфере ЖКХ</h2>
<br>
Оценка качества работы подрядных организаций строится на следующих критериях:
<br>
Время выполнения работ (Кол-во обращений / проблем по результатам работ на протяжении какого-то времени)
<br>
Качество
<br>
Кол-во обращений / проблем в процессе работ
<br>
Кол-во обращений / проблем по результатам работ на протяжении какого-то времени
<br>
Скорость отклика и решения жалоб.
<br>
Опыт работ (кол-во выполненных работ, участие в тендерах)
</div>
{% endblock %}