{% extends 'basic.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="main">
<h1 class="login">You are logged in as [{{name}}]</h1>
<form method="POST">
    {% csrf_token %}
    <input class="hidden" name="action" value="logout">
    <input class="login" type="submit" value="Log out">
</form>
</div>
{% else %}
<div class="main">
<div class="ff"><h2>Авторизация</h2></div>
<h1 align=center>Log in</h1>
<form method="post">
{% csrf_token %}
<input class="login" name="username" type="text">
<input class="login" name="password" type="password">
<input class="hidden" name="action" value="login">
<input class="login" type="submit" value="Log in">
</form>
	{% endif %}
<footer>
			<div class="container">

			</div>
		</footer>
{% endblock %}