{%extends 'basic.html'%}
{% block content %}
<style>
.login {
    width: 70%;
    float: center;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}
</style>
{% if user.is_authenticated %}
<h3 align=center class="login">Вы зашли как [ {{name}} ]</h3>
<form method="POST">
    {% csrf_token %}
    <input class="hidden" name="action" value="logout">
    <input class="login" style="height:7%;" type="submit" value="Выйти">
</form>
{% else %}
<h1 align=center>Войти</h1>
<form method="post">
{% csrf_token %}
<input class="login" name="username" type="text">
<input class="login" name="password" type="password">
<input class="hidden" name="action" value="login">
<input class="login" type="submit" value="Log in">
</form>


{% endif %}
{% endblock %}