{% extends 'basic.html' %}
{% block content %}

<div class="main" style="padding: 30px;">
			<div class="t5"><div class="f"><a href="form.html">Apply request</a></div></div>
            <div class="t6"><div class="f"><a href="tender.html">Tender</a></div></div>
			<table class="teder1" border="1"  >
            <tr>
                <th>Title</th>
                <th>%</th>
            </tr>
			{% for k in rows %}
				<tr>
					{% for l in k %}
                	<td height="20px" width="300">{{ l }}</td>
					{% endfor %}
            	</tr>
			{% endfor %}
        </table>
</div>
{% endblock %}